body {
    background-color: rgb(236, 178, 136);
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#submitBtn {
    font-size: 1em;
    border-radius: 5px;
    padding: 5px 25px;
    background-color: rgb(140, 140, 236);
    transition: background-color 0.25s;
}

#submitBtn:hover{
    background-color: rgb(85, 85, 193);
}