#countLabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Arial, Helvetica, sans-serif;
}

#btncontainer {
    text-align: center;
}

.buttons {
    padding: 10px 20px;
    font-size: 1.5em;
    color: azure;
    background-color: rgb(177, 122, 230);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color:blueviolet;
}

